@charset "UTF-8";
body {
  background-image: url("../multimedia/backgroundweb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Open Sans', sans-serif;
  width: 90%; }
  body #grilla {
    display: grid;
    width: 95%;
    grid-template-areas: "header header nav" "opciones opciones opciones" "unTexto unTexto unTexto" "footer footer footer";
    grid-template-rows: 100px 1fr 1fr 75px;
    grid-template-columns: 40% 40% auto;
    grid-column-gap: 10px;
    grid-row-gap: 15px; }
  body nav {
    grid-area: nav; }
    body nav .border {
      border: 1px solid black; }
    body nav ul {
      list-style-type: none; }
    body nav .menu {
      position: relative;
      text-align: right;
      justify-content: space space-between; }
      body nav .menu li {
        display: inline-block; }
      body nav .menu:hover {
        background-color: whitesmoke;
        transition: all 2s ease; }
      body nav .menu a {
        text-decoration: none; }

@media only screen and (max-width: 768px) {
  #grilla {
    grid-template-columns: 1fr;
    grid-template-rows: auto 2fr auto auto auto;
    grid-template-areas: "header" "nav" "opciones" "unTexto" "footer"; }
  h1 {
    color: rgba(98, 72, 216, 0.911);
    font-size: 2rem; }
  nav .menu {
    text-align: center; } }

/*Desafio Sass, agregué partials y una variable para el texto h1 en mobile)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.favicon {
  background-color: black;
  position: sticky;
  border: black solid 1px;
  border-radius: 50%; }

header {
  grid-area: header; }
  header h1 {
    font-family: 'Kalam', cursive;
    text-align: center;
    font-size: 3rem;
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite; }

/* declaré Extend dentro de #opciones y lo usé en cada div de los que abarca*/
#opciones {
  grid-area: opciones;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; }
  #opciones:hover {
    background-color: blueviolet; }
  #opciones .ejemploExtend, #opciones div .frontend, #opciones div .backend, #opciones div .otras {
    width: 80%;
    font-size: 2rem;
    text-align: center;
    background-color: white;
    border-radius: 20px; }
  #opciones .border {
    border: 1px solid black; }
  #opciones div .frontend {
    margin: 20px;
    padding: 10px; }
  #opciones div .border {
    border: 1px solid black; }
  #opciones div .backend {
    margin: 20px;
    padding: 10px; }
  #opciones div .border {
    border: 1px solid black; }
  #opciones div .otras {
    margin: 20px;
    padding: 10px; }
  #opciones div .border {
    border: 1px solid black; }

#unTexto {
  grid-area: unTexto;
  align-content: center;
  justify-self: center; }

.parrafoIndex {
  height: 200px;
  width: 700px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
  border: 3px solid black;
  line-height: 1.6;
  justify-content: center; }

.border {
  border: 1px solid black; }

/*Incluyo mixin en footer*/
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-area: footer; }
  footer .border {
    border: 1px solid black; }

.parrafoBox {
  height: 200px;
  width: 400px;
  padding: 10px;
  margin: 20px;
  display: inline-block;
  overflow: hidden;
  border: 3px solid black;
  line-height: 1.6;
  text-align: center; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
