$tituloMobile: rgba(98, 72, 216, 0.911);
@import "estructura.scss";
@import "mediaqueries.scss";

/*Desafio Sass, agregué partials y una variable para el texto h1 en mobile)*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.favicon{
    background-color: black;
    position: sticky;
    border: black solid 1px;
    border-radius: 50%;
}
header{
    grid-area: header;
    h1{
        font-family: 'Kalam', cursive;
        text-align: center;
        font-size: 3rem;
        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: infinite;
    }
}
/* declaré Extend dentro de #opciones y lo usé en cada div de los que abarca*/
#opciones{
        grid-area: opciones;
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &:hover{
            background-color: blueviolet;
        }
        .ejemploExtend{
            width: 80%;
            font-size: 2rem;
            text-align: center;
            background-color: white;
            border-radius: 20px;
        }
    .border{
        border: 1px solid black;
    }
    div{
        .frontend{
            @extend .ejemploExtend;
            margin: 20px;
            padding: 10px;
        }
        .border{
            border: 1px solid black;
        }
    }
    div{
        .backend{
            @extend .ejemploExtend;
            margin: 20px;
            padding: 10px;
        }
        .border{
            border: 1px solid black;
        }
    }
    div{
        .otras{
            @extend .ejemploExtend;
            margin: 20px;
            padding: 10px;
        }
        .border{
            border: 1px solid black;
        }
    }
}
#unTexto{
        grid-area: unTexto;
        justify-self: center;
    }
        .parrafoIndex{
            height: 500px;
            width: 700px;
            padding: 10px;
            margin: 20px;
            display: inline-block;
            overflow: hidden;
            border: 3px solid black;
            line-height: 1.6;
        }
        .border{
            border: 1px solid black;
        }
@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/*Incluyo mixin en footer*/
footer{
    @include flex-row-center;
    grid-area: footer;
    .border{
        border: 1px solid black;
    }
}
.parrafoBox{
    height: 200px;
    width: 400px;
    padding: 10px;
    margin: 20px;
    display: inline-block;
    overflow: hidden;
    border: 3px solid black;
    line-height: 1.6;
    text-align: center;
}
@keyframes aparecer {
    0% {
    opacity: 0;
    }
    100% {
    opacity: 1;
    }
}

